.carousel-container {
  height: 100vh;
  width: 100%;
}

.carousel-container h1 {
  font-size: 124px;
  color: #fff;
  text-shadow: 2px 2px 2px #212529;
}

.carousel-component {
  max-width: 600px;
  min-width: 300px;
  box-shadow: 0 0 2px 2px #212529;
}

.carousel-caption {
  text-shadow: 2px 2px 2px #212529;
}

.carousel-item img {
  cursor: pointer;
}
