div#login-container {
  background-image: url("https://images.unsplash.com/photo-1622643944007-450264a5f9a9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1144&q=80");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

div#login-container h1 {
  color: #ddd;
  font-size: 64px;
  text-shadow: 2px 2px 2px #212529;
}

div#login-container div.intro div {
  color: #ffffff;
  text-shadow: 1px 1px 1px #212529;
  padding: 0 10px;
  font-size: 24px;
}

div#login-container div.intro div.background {
  z-index: 100;
}

form#login {
  box-shadow: 2px 2px #ddd;
  width: 400px;
  background-color: #555;
  border-radius: 10px;
}
