div#recipe-per-serving,
ul#health-labels li,
ul.nutrient-per-serving li span {
  font-size: small;
}

div.recipe-font {
  font-family: "Arima Madurai", cursive;
}

div.recipe-name {
  font-weight: 900;
}

div#recipe-per-serving {
  font-weight: 700;
}

ul#health-labels li {
  display: inline-block;
}

ul#health-labels li:nth-last-of-type(2n) {
  background-color: #f3f3f3;
}

ul.nutrient-per-serving li {
  display: flex;
  justify-content: space-between;
}

ul.nutrient-per-serving.pfc li span:first-child {
  text-transform: uppercase;
}

ul.nutrient-per-serving li span:last-child {
  font-weight: 700;
}

#shaded {
  background-color: #f3f3f3;
}

.ingredients-link {
  cursor: pointer;
}

.ingredients-link:hover {
  text-shadow: 1px 1px 2px #999;
}
