@import url("https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@400;700;900&family=Kalam:wght@400;700&display=swap");

body {
  font-family: "Kalam", cursive;
  background-image: url("https://images.unsplash.com/photo-1526371233670-42d618efcec5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
