@import url("https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@400;700;900&family=Kalam:wght@400;700&display=swap");

body {
  font-family: "Kalam", cursive;
  height: 100vh;
}

.carousel-component {
  max-width: 600px;
}

.carousel-caption {
  text-shadow: 2px 2px 2px #555;
}
